
#slice1button {
    
    background-color: transparent;
    border-style: none;
    overflow: visible;
    position: relative;
    padding: 0;
    cursor:pointer
  }
  
  
  
  
  
  
  
  
  #svgSlice1button{
  
   height: 100%;
   width: 100%;
   display: block;
  
   overflow: visible;
   }
  
  
  
    
  
    .piece-slice1button path{
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s;
   }
  
  
  
  
    #text-slice1button{
       position: relative;
       pointer-events: none;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
       -webkit-box-align: center;
           -ms-flex-align: center;
               align-items: center;
   
       font-size: 2vw;
       color: #ffffff;
       font-family: 'Roboto';
       font-weight: 900;
   
  
   position: absolute;
   top: 0%;
   left: 0%;
   height: 100%;
   width: 100%;
    }
  
  
    .clickAnimation-slice1button:active{
       -webkit-transform: scale(1.03);
           -ms-transform: scale(1.03);
               transform: scale(1.03);
      } 
   
  
  
  
  
  
  
  
  
  
    .hoverAnimation-slice1button:hover   #piece1-slice1button{
     -webkit-transform: translate(3%);
         -ms-transform: translate(3%);
             transform: translate(3%) 
  
  }
  
  
  
  
  
  
  
  
  
  .hoverAnimation-slice1button:hover   #piece2-slice1button{
     -webkit-transform: translate(-3%);
         -ms-transform: translate(-3%);
             transform: translate(-3%) 
  
  }
  
  
  
  
  
  
  
  
  .hoverAnimation-slice1button:hover #piece3-slice1button{
     -webkit-transform: translate(3%);
         -ms-transform: translate(3%);
             transform: translate(3%) 
  
  }
  
  
  
  
  
  
  
  .hoverAnimation-slice1button:hover #piece4-slice1button{
     -webkit-transform: translate(-3%);
         -ms-transform: translate(-3%);
             transform: translate(-3%) 
  
  }
  
  
  
  
  
   .initAnimation-slice1button {
  
      -webkit-animation: dash2-slice1button 3s linear ;
  
              animation: dash2-slice1button 3s linear ;
    }
  
  
      
    @-webkit-keyframes dash2-slice1button {
      0% {
          stroke-dasharray: 0 106 106;
          fill-opacity: 0;
          
    }
      30% {
          stroke-dasharray: 0 106 106;
            
      }
       90% {
          stroke-dasharray: 105 106 106;
          fill-opacity: 0;
          
      }100%{
          fill-opacity: 1;
      }
     
    }
  
  
      
    @keyframes dash2-slice1button {
      0% {
          stroke-dasharray: 0 106 106;
          fill-opacity: 0;
          
    }
      30% {
          stroke-dasharray: 0 106 106;
            
      }
       90% {
          stroke-dasharray: 105 106 106;
          fill-opacity: 0;
          
      }100%{
          fill-opacity: 1;
      }
     
    }
  
    .initAnimation-slice1button #text-slice1button{
      -webkit-animation-name:animateText-slice1button ;
              animation-name:animateText-slice1button ;
      -webkit-animation-duration: 3.3s ;
              animation-duration: 3.3s ;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    
    }
    
    @-webkit-keyframes animateText-slice1button{
          
      0% {
         
        opacity: 0;
      }
          
      91% {
        opacity: 0;
           
            
        }
    
      100%{
        opacity: 1;
      }
    }
    
    @keyframes animateText-slice1button{
          
      0% {
         
        opacity: 0;
      }
          
      91% {
        opacity: 0;
           
            
        }
    
      100%{
        opacity: 1;
      }
    }